@use "src/styles/main.scss" as *;

.input_wrapper {
  width: 100%;

  .label_text {
    font-size: toRem(14);
    font-weight: 700;
    margin-bottom: toRem(8);
  }
  input {
    width: 100%;
    background-color: #1c1c1c;
    min-height: toRem(40);
    border: 1px solid $gray-5e;
    border-radius: toRem(8);
    color: $white;
    font-size: toRem(14);
    font-weight: 400;
    padding-left: toRem(10);
    @include fontFamilyClass;
    &:focus {
      outline: none;
    }
  }
}
