$white: #fff;

//main
$black-09: #090909;
$red-ff: #ff9a98;
$green-98: #98ff9c;
$yellow-ff: #ffed9b;

$blue-7: #76a9ff;
$blue-7-15: #76a9ff26;

$purple-25: #251b27;
$purple-d8: #d898ff;

$gray-5e: #5e5e5e;
$gray-1c: #1c1c1c;
$grey-31: #313131;
$gray-ad: #adadad;
$gray-6: #666;
$gray-e: #f1f1f1;
