


$white:#fff;
$gray-e: #f1f1f1;
$gray-6:#666;

//main
$black-09:#090909;


$blue-7:#76A9FF;
$gray-1c:#1C1C1C;
$gray-ad:#ADADAD;
$purple-25:#251B27;
$purple-d8:#D898FF;
$red-ff:#FF9A98;
$green-98:#98FF9C;
$yellow-ff:#FFED9B;