@use "src/styles/main.scss" as *;

.home_second_container{
  width: 100%;
  min-height: toRem(132);
  .home_card_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toRem(16);
    background:linear-gradient(270deg, #1E2530 26.13%, #50586A 113%);
    width: 100%;
    height: 100%;
    border-radius: toRem(8);
    .left{
      h6{
        font-size: toTem(16);
        font-weight: 700;
        line-height: toRem(20);
      }
      p{
        font-size: toRem(12);
        font-weight: 400;
        margin: toRem(8) 0 toRem(16) 0;
      }
    }
  }
}
