@use "src/styles/main.scss" as *;

.home_second_container {
  width: 100%;
  min-height: toRem(132);
  .home_card_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: toRem(22);
    p {
      font-size: toRem(16);
      font-weight: 700;
    }
    .btn_wrapper {
      width: 35%;
      .btn_custom {
        font-size: toRem(14);
        background-color: $gray-1c;
      }
    }
  }
  .home_card_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toRem(16);
    background: linear-gradient(270deg, #1e2530 26.13%, #50586a 113%);
    width: 100%;
    height: 100%;
    border-radius: toRem(8);
    .left {
      h6 {
        font-size: toRem(16);
        font-weight: 700;
        line-height: toRem(20);
      }
      p {
        font-size: toRem(12);
        font-weight: 400;
        margin: toRem(8) 0 toRem(16) 0;
      }
      .left_bottom {
        display: flex;
        .wrapper {
          &:first-child {
            padding-right: toRem(10);
          }
          .days {
            font-size: toRem(16);
            font-weight: 700;
          }
          .title {
            font-size: toRem(12);
            font-weight: 400;
          }
        }
      }
    }
  }
}
