@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: bold;
  src: url("IRANYekanWebBold.eot");
  src: url("IRANYekanWebBold.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanWebBold.woff") format("woff"),
    url("IRANYekanWebBold.woff2") format("woff2"),
    url("IRANYekanWebBold.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 100;
  src: url("IRANYekanWebThin.eot");
  src: url("IRANYekanWebThin.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanWebThin.woff") format("woff"),
    url("IRANYekanWebThin.woff2") format("woff2"),
    url("IRANYekanWebThin.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 300;
  src: url("IRANYekanWebLight.eot");
  src: url("IRANYekanWebLight.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanWebLight.woff") format("woff"),
    url("IRANYekanWebLight.woff2") format("woff2"),
    url("IRANYekanWebLight.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: normal;
  src: url("IRANYekanWebRegular.eot");
  src: url("IRANYekanWebRegular.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanWebRegular.woff") format("woff"),
    url("IRANYekanWebRegular.woff2") format("woff2"),
    url("IRANYekanWebRegular.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 500;
  src: url("IRANYekanWebMedium.eot");
  src: url("IRANYekanWebMedium.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanWebMedium.woff") format("woff"),
    url("IRANYekanWebMedium.woff2") format("woff2"),
    url("IRANYekanWebMedium.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 800;
  src: url("IRANYekanWebExtraBold.eot");
  src: url("IRANYekanWebExtraBold.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanWebExtraBold.woff") format("woff"),
    url("IRANYekanWebExtraBold.woff2") format("woff2"),
    url("IRANYekanWebExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 850;
  src: url("IRANYekanWebBlack.eot");
  src: url("IRANYekanWebBlack.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanWebBlack.woff") format("woff"),
    url("IRANYekanWebBlack.woff2") format("woff2"),
    url("IRANYekanWebBlack.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekan;
  font-style: normal;
  font-weight: 900;
  src: url("IRANYekanWebExtraBlack.eot");
  src: url("IRANYekanWebExtraBlack.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanWebExtraBlack.woff") format("woff"),
    url("IRANYekanWebExtraBlack.woff2") format("woff2"),
    url("IRANYekanWebExtraBlack.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanNum;
  font-style: normal;
  font-weight: bold;
  src: url("IRANYekanwebboldfanum.eot");
  src: url("IRANYekanwebboldfanum.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanwebboldfanum.woff") format("woff"),
    url("IRANYekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanNum;
  font-style: normal;
  font-weight: 100;
  src: url("IRANYekanwebthinfanum.eot");
  src: url("IRANYekanwebthinfanum.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanwebthinfanum.woff") format("woff"),
    url("IRANYekanwebthinfanum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanNum;
  font-style: normal;
  font-weight: 300;
  src: url("IRANYekanweblightfanum.eot");
  src: url("IRANYekanweblightfanum.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanweblightfanum.woff") format("woff"),
    url("iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanNum;
  font-style: normal;
  font-weight: normal;
  src: url("IRANYekanwebregularfanum.eot");
  src: url("IRANYekanwebregularfanum.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanwebregularfanum.woff") format("woff"),
    url("IRANYekanwebregularfanum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanNum;
  font-style: normal;
  font-weight: 500;
  src: url("IRANYekanwebmediumfanum.eot");
  src: url("IRANYekanwebmediumfanum.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanwebmediumfanum.woff") format("woff"),
    url("IRANYekanwebmediumfanum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanNum;
  font-style: normal;
  font-weight: 800;
  src: url("IRANYekanwebextraboldfanum.eot");
  src: url("IRANYekanwebextraboldfanum.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanwebextraboldfanum.woff") format("woff"),
    url("IRANYekanwebextraboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanNum;
  font-style: normal;
  font-weight: 850;
  src: url("IRANYekanwebblackfanum.eot");
  src: url("IRANYekanwebblackfanum.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanwebblackfanum.woff") format("woff"),
    url("IRANYekanwebblackfanum.ttf") format("truetype");
}

@font-face {
  font-family: IRANYekanNum;
  font-style: normal;
  font-weight: 900;
  src: url("IRANYekanwebextrablackfanum.eot");
  src: url("IRANYekanwebextrablackfanum.eot?#iefix") format("embedded-opentype"),
    url("IRANYekanwebextrablackfanum.woff") format("woff"),
    url("IRANYekanwebextrablackfanum.ttf") format("truetype");
}