@use "src/styles/main.scss" as *;

.second_container {
  margin-top: toRem(16);
  .btn_wrapper {
    position: fixed;
    width: 100%;
    height: toRem(40);
    bottom: toRem(24);
    left: 0;
    right: 0;
    padding: 0 toRem(16);
  }
  .date_label {
    font-size: toRem(14);
    font-weight: 700;
    margin: toRem(16) 0 toRem(8) 0;
  }
}
